services:
  db:
    image: postgres
    env_file: .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    ports:
      - 5432:${DB_PORT}
  cache:
    image: bitnami/redis
    env_file: .env
    ports:
      - 6379:6379
